{% extends 'layouts/base.html' %}



 {% block content %}
<div class="head">
  <h1>Portefeuille</h1>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 contain_box">
      <div class="box_info_default">
        <div class="text_info">
          <span>Balance</span>
        </div>
        <div class="row box_variable">
          <div class="container_account">
              <span><i class="fas fa-euro-sign"></i></span>
              <span class="value_account">{{ info_account.balance }}</span>
          </div>
          <!-- <div class="cercle_default"></div> -->
          <div id="">
             <embed class="solid_gauge" type="image/svg+xml" src= "{{ gauge_0|safe }}" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 contain_box">
      <div class="box_info_default box_info_2">
        <div class="text_info">
          <span>Fonds disponibles</span>
        </div>
        <div class="row box_variable">
          <div class="container_account">
              <span><i class="fas fa-euro-sign"></i></span>
              <span class="value_account">{{ info_account.fd }}</span>
          </div>
          <!-- <div class="cercle_default cercle_2"></div> -->
          <div id="">
             <embed class="solid_gauge" type="image/svg+xml" src= "{{ gauge_1|safe }}" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 contain_box">
      <div class="box_info_default box_info_3">
        <div class="text_info">
          <span>Marge</span>
        </div>
        <div class="row box_variable">
          <div class="container_account">
              <span><i class="fas fa-euro-sign"></i></span>
              <span class="value_account">{{ info_account.marge }}</span>
          </div>
          <!-- <div class="cercle_default cercle_3"></div> -->
          <div id="">
             <embed class="solid_gauge" type="image/svg+xml" src= "{{ gauge_2|safe }}" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 contain_box">
      <div class="box_info_default box_info_4">
        <div class="text_info">
          <span>Nb Trades</span>
        </div>
        <div class="row box_variable">
          <div class="container_account">
              <span>+</span>
              <span class="value_account">{{ info_account.nt}}</span>
          </div>
          <!-- <div class="cercle_default cercle_4"></div> -->
          <div id="">
             <embed  class="solid_gauge" type="image/svg+xml" src= "{{ gauge_3|safe }}" />
          </div>


        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="" style=""><span class="value_account"> {{ chart|safe }}</span></div> -->

<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 container_header_chart">
        <div class="container_header">
              <span>Profit portefeuille</span>
              <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="container_chart">
              <embed class="basic_line" type="image/svg+xml" src= "{{ chart|safe }}" />
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 container_f">
        <div class="container_header_2">
              <span>Resume</span>
              <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="container_resume">
              <embed class="basic_pie" type="image/svg+xml" src= "{{ chart3|safe }}" />
        </div>
    </div>
</div>

<div class="container_historique">
  <div class="header_historique">
      <span>Trades Historique</span>
      <i class="fas fa-ellipsis-v"></i>
  </div>
  <div class="historique">

  </div>
</div>

{% endblock %}
