{% load static %}

<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>QuanTrades</title>

  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'finance/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Cantarell:400,700,700i&display=swap" rel="stylesheet">
  <!--===============================================================================================-->
    <script type="text/javascript" src="{% static 'finance/js/pygal-tooltips.min.js'%}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="css/admin2.css"> -->
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'finance/css/style7.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
